{:aliases  {:dev {:extra-paths ["."
                                "development/src"
                                
                                "components/city/src"
                                "components/city/resources"
                                "components/places_list/src"
                                "components/places_list/resources"
                                "components/place/src"
                                "components/place/resources"
                                "components/static_page/src"
                                "components/static_page/resources"
                                "components/navbar_item/src"
                                "components/navbar_item/resources"
                                "components/user/src"
                                "components/user/resources"
                                
                                "components/database/src"
                                "components/database/resources"
                                "components/env/src"
                                "components/env/resources"
                                "components/log/src"
                                "components/log/resources"
                                "components/spec/src"
                                "components/spec/resources"
                                
                                "bases/rest-api/src"
                                "bases/rest-api/resources"]
                  :extra-deps {buddy/buddy-sign {:mvn/version "3.4.333"}
                               camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
                               clj-http/clj-http {:mvn/version "3.12.3"}
                               clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
                               compojure/compojure {:mvn/version "1.7.0"}
                               com.taoensso/timbre {:mvn/version "5.2.1"}
                               com.github.seancorfield/honeysql {:mvn/version "2.3.911"}
                               crypto-password/crypto-password {:mvn/version "0.3.0"}
                               metosin/spec-tools {:mvn/version "0.10.5"}
                               nrepl/nrepl {:mvn/version "1.0.0"}
                               org.clojure/clojure {:mvn/version "1.11.1"}
                               org.clojure/data.json {:mvn/version "2.4.0"}
                               org.clojure/java.jdbc {:mvn/version "0.7.12"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.7.2"}
                               ring-logger-timbre/ring-logger-timbre {:mvn/version "0.7.6"}
                               ring/ring-jetty-adapter {:mvn/version "1.9.5"}
                               ring/ring-json {:mvn/version "0.5.1"}}}

            :test {:extra-paths ["components/city/test"
                                 "components/places_list/test"
                                 "components/place/test"
                                 "components/static_page/test"
                                 "components/navbar_item/test"
                                 "components/user/test"
                                 
                                 "components/database/test"
                                 "components/env/test"
                                 "components/log/test"
                                 "components/spec/test"
                                 
                                 "bases/rest-api/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "ccc261e60f6a875ff30858bf84cf67be105eac6f"
                                 :deps/root "projects/poly"}}}
            :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
                    :paths ["build/resources"]        
                    :ns-default build}}}
